.sign-in  {
    width: 380px;
    // width: 30vw;
    // 30% of view width
    display: flex;
    flex-direction: column;



    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {
    .sign-in{
        padding-bottom: 30px;;
    
    .buttons{
        min-width: unset;
    }
    }
    
}
